# Ignore everything
*

# But not these files...
!*.xml
!*.kt
#!*/
#*.iml

#.gradle
#/local.properties
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#.DS_Store
#/build
#/captures
#.externalNativeBuild
